@import "tailwindcss";
@import "@radix-ui/themes/styles.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



body {

  font-family: Arial, Helvetica, sans-serif;
}
.rt-TextFieldRoot:where(.rt-r-size-3) :where(.rt-TextFieldInput) {
  background: #cadcfc;
}
.rt-TextFieldRoot:where(.rt-variant-surface) {
  box-shadow: none;
}